table {
  display: table;
  position: relative;
  align-content: center;
  align-items: center;
  height: max-content;
  width: 100%;
  min-width: 900px;
  margin: 5px;
  padding: 5px;
  border: #000000 solid 2px;
  text-align: left;
}

div {
  display: flex;
  position: relative;
}
