<div>
  <table  matSort (matSortChange)="sortData($event)">
    <tr>
      <th mat-sort-header="name">Name</th>
      <th mat-sort-header="age">Age</th>
      <th mat-sort-header="gender">Gender</th>
      <th mat-sort-header="dept">Department</th>
      <th mat-sort-header="address">Address</th>
    </tr>

    <tr *ngFor="let user of users">
      <td>{{user.name}}</td>
      <td>{{user.age}}</td>
      <td>{{user.gender}}</td>
      <td>{{user.department}}</td>
      <td>{{user.address.city + ' ' + user.address.street}}</td>
    </tr>
  </table>
</div>



