<div>
  <mat-checkbox class="filter">
    <mat-label>Name</mat-label>
    <mat-select [(value)]="selectedName" (selectionChange)="onSelection('name')">
      <mat-option *ngFor="let name of possibleNames" [value]="name">{{name}}</mat-option>
    </mat-select>
  </mat-checkbox>
  <mat-checkbox class="filter">
    <mat-label>Age</mat-label>
    <mat-select [(value)]="selectedAge" (selectionChange)="onSelection('age')">
      <mat-option *ngFor="let name of possibleAges" [value]="name">{{name}}</mat-option>
    </mat-select>
  </mat-checkbox>
  <mat-checkbox class="filter">
    <mat-label>Gender</mat-label>
    <mat-select [(value)]="selectedGender" (selectionChange)="onSelection('gender')">
      <mat-option *ngFor="let name of possibleGenders" [value]="name">{{name}}</mat-option>
    </mat-select>
  </mat-checkbox>
  <mat-checkbox class="filter">
    <mat-label>Department</mat-label>
    <mat-select [(value)]="selectedDepartment" (selectionChange)="onSelection('department')">
      <mat-option *ngFor="let name of possibleDepartments" [value]="name">{{name}}</mat-option>
    </mat-select>
  </mat-checkbox>
  <mat-checkbox class="filter">
    <mat-label>City</mat-label>
    <mat-select [(value)]="selectedCity" (selectionChange)="onSelection('city')">
      <mat-option *ngFor="let name of possibleCities" [value]="name">{{name}}</mat-option>
    </mat-select>
  </mat-checkbox>
</div>
