.parent div{
  display: table;
  position: relative;

}
.mat-checkbox-wrapper {
  display: flex;
  position: relative;
  border: 3px solid;
  max-width: 1200px;
  margin: 15px;
  padding: 5px;
}

.mat-checkbox{
  position: relative;
  height: max-content;
  width: max-content;
  max-width: 1200px;
  border: 3px solid;
  margin: 5px;
  padding: 2px;
}
h1{
  display: flex;
  height: max-content;
  width: max-content;
  margin-left: 25px;
  padding: 2px;
}
